
    <div id="{{guid}}_nav" class="tb_nav hidden">
        <a href="#/" onclick="minimizeClock({{guid}});"><span class="title">{{title}} {{type_name}}</span></a>
        <button onclick="minimizeClock({{guid}});" type="button" class="close">
            <span aria-hidden="true">&minus;</span>
            <span class="sr-only">Minimize</span>
        </button>
    </div>