<div id="{{guid}}" class="col-lg-4 timer_box">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <a id="{{guid}}_link" href="#" class="thumbnail">
        <div class="svg_placeholder"></div>
        <div class="laptime_display"></div>
        <div class="digital_display">12:12 AM</div>
        <div class="btns"></div>
        <div class="title">{{title}}</div>
    </a>
</div>