<div id="{{guid}}" class="timer_box">
    <button onclick="removeClock({{guid}});" type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <a id="{{guid}}_link" href="#/" class="thumbnail">
        <div class="svg_placeholder"></div>
        <div class="laptime_display"></div>
        <div class="digital_display"></div>
        <div class="btns"></div>
        <div class="title">{{title}} {{type_name}}</div>
    </a>
</div>